.themes {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  @media screen and (max-width: 390px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
