<header>
  <div>
    <img src="/assets/logo_p6.png" alt="logo" />
  </div>
</header>
<div class="container">
  <a href="" class="back-arrow">←</a>
  <div class="logo">
    <img src="/assets/logo_p6.png" alt="logo" />
  </div>
  <div class="form-container">
    <h1>Se connecter</h1>
    <form action="#" method="POST">
      <label for="usernameEmail">E-mail ou nom d’utilisateur</label>
      <input type="text" id="usernameEmail" name="usernameEmail" required />

      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Se connecter</button>
    </form>
  </div>
</div>
